<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->

<head>
    <meta charset="utf-8" />
    <title>OOF Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href=" /productAssets/administration-vector-icon.svg">
    <!-- Template CSS -->
    <link href="admin-assets\css\main.css" rel="stylesheet" type="text/css" />
    <style>
        .image-preview {
            display: inline-block;
            margin: 5px;
        }
    
        .image-preview img {
            max-width: 100px;
            max-height: 100px;
        }
    </style>

</head>

<body class="">
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="assets\images\Logo1.png" alt="OOF Logo" width="30">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize">
                    <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/dashboard">
                        <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/products">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>

                <li class="menu-item ">
                    <a class="menu-link" href="/admin/users">
                        <i class="icon material-icons md-person"></i>
                        <span class="text">Users</span>
                    </a>
                </li>

                <li class="menu-item">
                    <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-stars"></i>
                        <span class="text">category</span> </a>
                </li>

                <li class="menu-item">
                    <a class="menu-link" href="/admin/orders">
                        <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-sellers-cards.html">
                        <i class="icon material-icons md-store"></i>
                        <span class="text">Sellers</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-form-product-1.html">
                        <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-transactions-1.html">
                        <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Transactions</span>
                    </a>
                </li>

                <li class="menu-item">
                    <a class="menu-link" href="page-reviews.html">
                        <i class="icon material-icons md-comment"></i>
                        <span class="text">Reviews</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-brands.html">
                        <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="#">
                        <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Statistics</span>
                    </a>
                </li>
            </ul>
            <hr />
            <ul class="menu-aside">
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#">
                        <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-blank.html">
                        <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li>
            </ul>
            <br />
            <br />
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
            </div>
            <div class="col-nav">

                <ul class="nav">

                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle"
                                src="/admin-assets/imgs/people/User-logo.png" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Profile</a>

                            <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="/admin/logout"><i
                                    class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>


        <form action="/admin/add-product" method="post" enctype="multipart/form-data" id="productForm">

            <section class="content-main">
                <div class="row">
                    <div class="col-9">
                        <div class="content-header">
                            <h2 class="content-title">Add Product</h2>
                            <p id="main-error" class="text-centre" style="color: red;"></p>
                            <div>
                                <button type="button" onclick="submitForm()"
                                    class="btn btn-md rounded font-sm hover-up">
                                    Publish
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="mb-4">
                                    <label for="product_title" class="form-label">Product title</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="ProductName"
                                        id="ProductName" maxlength="100" required />
                                    <p id="productTitleError" class="error-message" style="color: red;"></p>
                                </div>
                                <div class="row gx-3"></div>

                                <div class="mb-4">
                                    <label for="product_brand" class="form-label">Brand</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="ProductBrand"
                                        id="ProductBrand" maxlength="50" required />
                                    <p id="productBrandError" class="error-message" style="color: red;"></p>
                                </div>
                            </div>
                        </div>
                        <!-- card end// -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <div>
                                    <label class="form-label">Description</label>
                                    <textarea placeholder="Type here" class="form-control" name="ProductDetails"
                                        id="ProductDetails" maxlength="10000" rows="4" required></textarea>
                                    <p id="productDescriptionError" class="error-message" style="color: red;"></p>
                                </div>
                            </div>
                        </div>
                        <!-- card end// -->
            <div class="card mb-4">
                <div class="card-body">
                    <div>
                        <!-- Add onchange attribute to call limitFiles function -->
                        <input class="form-control" type="file" multiple name="ProductImage" accept="image/*"
                            onchange="handleFileSelect(event); limitFiles(this, 4);" required />
                        <div id="preview-container"></div>
                        <p id="productImageError" class="error-message" style="color: red;"></p>
                    </div>
                </div>
            </div>



                        <!-- card end// -->
                    </div>
                    <div class="col-lg-3">
                        <div class="card mb-4">
                            <div class="card-body">

                                <div class="mb-4">
                                    <label class="form-label">Price</label>
                                    <input type="text" placeholder="Type here" name="ProductPrice" id="productPrice"
                                        class="form-control" required />
                                    <p id="productPriceError" class="error-message" style="color: red;"></p>
                                </div>
                                <h5 class="mb-3">Status</h5>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="listed" id="status1" value="0"
                                        checked>
                                    <label class="form-check-label" for="status1">Draft</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="listed" id="status2" value="1">
                                    <label class="form-check-label" for="status2">Published</label>
                                </div>
                                <br>
                                <h5 class="mb-3">Categories</h5>
                               

                                <% categories.forEach(category=> { %>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="productCategory"
                                            value="<%= category._id %>">
                                        <label class="form-check-label" for="category">
                                            <%= category.cName %>
                                        </label>
                                    </div>
                                    <% }); %>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body" style="display: flex;flex-direction: column;flex-wrap: wrap;">
                            <label class="form-label">Sizes and Stock</label>

                            <div class="row gx-3">
                                <div class="col-md-4 mb-2">
                                    <label for="size_xs" class="form-label">XS</label>
                                    <input type="number" placeholder="Stock" id="size_xs" class="form-control"
                                        style="width: 6rem;" name="sizes[XS]"
                                        oninput="validateStock('size_xs', 'size_xsError')">
                                    <span id="size_xsError" class="text-danger"></span>

                                </div>

                                <div class="col-md-4 mb-2">
                                    <label for="size_s" class="form-label">S</label>
                                    <input type="number" placeholder="Stock" id="size_s" class="form-control"
                                        style="width: 6rem;"name="sizes[S]" oninput="validateStock('size_s', 'size_sError')">
                                    <span id="size_sError" class="text-danger"></span>
                                </div>

                                <div class="col-md-4 mb-2">
                                    <label for="size_m" class="form-label">M</label>
                                    <input type="number" placeholder="Stock" id="size_m" class="form-control"
                                        style="width: 6rem;"name="sizes[M]" oninput="validateStock('size_m', 'size_mError')">
                                    <span id="size_mError" class="text-danger"></span>
                                </div>

                                <div class="col-md-4 mb-2">
                                    <label for="size_l" class="form-label">L</label>
                                    <input type="number" placeholder="Stock" id="size_l" class="form-control"
                                        style="width: 6rem;"name="sizes[L]" oninput="validateStock('size_l', 'size_lError')">
                                    <span id="size_lError" class="text-danger"></span>
                                </div>

                                <div class="col-md-4 mb-2">
                                    <label for="size_xl" class="form-label">XL</label>
                                    <input type="number" placeholder="Stock" id="size_xl" class="form-control"
                                        style="width: 6rem;"name="sizes[XL]" oninput="validateStock('size_xl', 'size_xlError')">
                                    <span id="size_xlError" class="text-danger"></span>
                                </div>

                                <div class="col-md-4 mb-2">
                                    <label for="size_xxl" class="form-label">XXL</label>
                                    <input type="number" placeholder="Stock" id="size_xxl" class="form-control"
                                        style="width: 6rem;"name="sizes[XXL]" oninput="validateStock('size_xxl', 'size_xxlError')"
                                        maxlength="1">
                                    <span id="size_xxlError" class="text-danger"></span>
                                </div>
                                <!-- Add more size fields as needed -->
                            </div>
                        </div>
                    </div>
            </section>
        </form>

        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    ©,
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">All rights reserved</div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin-assets/js/vendors/select2.min.js"></script>
    <script src="/admin-assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/admin-assets/js/main.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script>
        // Function to limit the number of files selected
        function limitFiles(input, maxFiles) {
            var files = input.files;
            if (files.length > maxFiles) {
               Swal.fire({
                    icon: 'warning',
                    title: 'File Limit Exceeded',
                    text: 'You can only upload a maximum of ' + maxFiles + ' files.',
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: 'OK'
                });



                input.value = ""; 
                const previewContainer = document.getElementById("preview-container");
                previewContainer.innerHTML = "";
            }
        }

        function handleFileSelect(event) {
            const previewContainer = document.getElementById("preview-container");
            previewContainer.innerHTML = ""; // Clear previous previews

            const maxFiles = 4; // Set your maximum file limit here
            limitFiles(event.target, maxFiles); // Call limitFiles function

            const files = event.target.files;

            for (const file of files) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    const preview = document.createElement("div");
                    preview.className = "image-preview";

                    const img = document.createElement("img");
                    img.src = e.target.result;
                    img.alt = file.name;

                    preview.appendChild(img);
                    previewContainer.appendChild(preview);
                };

                reader.readAsDataURL(file);
            }
        }
    </script>


    <script>
        function getElementValue(id) {
            const element = document.getElementById(id);
            return element.value;
        }

        function validateInput(inputId, pattern, errorId, errorMessage) {
            const inputValue = getElementValue(inputId);
            const errorElement = document.getElementById(errorId);

            if (inputValue.trim() === '') {
                errorElement.innerText = errorMessage + ' is required.';
                return false;
            } else if (pattern && !pattern.test(inputValue)) {
                errorElement.innerText = 'Please enter a valid ' + errorMessage.toLowerCase() + '.';
                return false;
            } else {
                errorElement.innerText = '';
                return true;
            }
        }

        function validateStock(id) {
            const stockInput = document.getElementById(id);
            const errorId = id + 'Error';
            const errorElement = document.getElementById(errorId);

            if (stockInput.value.trim() === '') {
                errorElement.innerText = 'Stock is required.';
                return false;
            } else if (parseInt(stockInput.value) < 0 || parseInt(stockInput.value) === -0) {
                errorElement.innerText = 'Stock cannot be negative.';
                return false;
            } else if (parseInt(stockInput.value) > 1000) {
                errorElement.innerText = 'Stock should be <1000.';
                return false;
            } else {
                errorElement.innerText = '';
                return true;
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            const titleInput = document.getElementById('ProductName');
            const brandInput = document.getElementById('ProductBrand');
            const descriptionInput = document.getElementById('ProductDetails');
            const priceInput = document.getElementById('productPrice');

            const stockInputs = ['size_xs', 'size_s', 'size_m', 'size_l', 'size_xl', 'size_xxl'];

            titleInput.addEventListener('input', function () {
                validateInput('ProductName', null, 'productTitleError', 'Product title');
            });

            brandInput.addEventListener('input', function () {
                validateInput('ProductBrand', /^[A-Za-z\s]+$/, 'productBrandError', 'Brand');
            });

            descriptionInput.addEventListener('input', function () {
                validateInput('ProductDetails', null, 'productDescriptionError', 'Description');
            });

            priceInput.addEventListener('input', function () {
                validateInput('productPrice', /^(0*[1-9]\d*)$/, 'productPriceError', 'Price');
            });

            stockInputs.forEach(function (id) {
                const stockInput = document.getElementById(id);
                const errorId = id + 'Error';

                stockInput.addEventListener('input', function () {
                    validateStock(id);
                });

                stockInput.addEventListener('blur', function () {
                    validateStock(id);
                });
            });
        });

        function submitForm() {
            const stockInputs = ['size_xs', 'size_s', 'size_m', 'size_l', 'size_xl', 'size_xxl'];
            let isValid = true;

            stockInputs.forEach(function (id) {
                isValid = isValid && validateStock(id);
            });

            if (validateInput('ProductName', null, 'productTitleError', 'Product title') &&
                validateInput('ProductBrand', /^[A-Za-z\s]+$/, 'productBrandError', 'Brand') &&
                validateInput('ProductDetails', null, 'productDescriptionError', 'Description') &&
                validateInput('productPrice', /^(0*[1-9]\d*)$/, 'productPriceError', 'Price') &&
                isValid) {
                document.getElementById('productForm').submit();
            } else {
                document.getElementById('main-error').innerText = 'CANNOT SUBMIT';
            }
        }

    </script>




</body>

<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->

</html>