<!DOCTYPE html>
<html lang="en">


<!-- molla/login.html  22 Nov 2019 10:04:03 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Offside Outfits</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href=" /productAssets/User-icon.svg">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div class="page-wrapper">


        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">

            </nav>

            <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
                style="background-image: url('/assets/images/login/Football-rack1.jpeg')">
                <div class="container">
                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" id="signin-tab-2" data-toggle="tab" href="#signin-2" role="tab"
                                        aria-controls="signin-2" aria-selected="false">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" id="register-tab-2" data-toggle="tab" href="#register-2"
                                        role="tab" aria-controls="register-2" aria-selected="true">Register</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">

                                    <form id="loginForm" action="/login" method="post">
                                        <p id="login-error" class="error-message" style="color: red;"></p>
                                        <div class="form-group">
                                            <label for="singin-email-2">Email Address *</label>
                                            <input type="text" class="form-control" id="singin-email-2" name="email"
                                                required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password-2">Password *</label>
                                            <input type="password" class="form-control" id="singin-password-2"
                                                name="password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="button" class="btn btn-outline-primary-2"
                                                onclick="submitLoginForm()">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>
                                        </div>
                                    </form>


                                </div>

                                <div class="tab-pane fade show active" id="register-2" role="tabpanel"
                                    aria-labelledby="register-tab-2">

                                <form action="/register" method="post" id="register">
                                    <p id="main-error" class="error-message" style="color: red;"></p>
                                
                                    <div class="form-group">
                                        <label for="fullname">Full Name *</label>
                                        <p id="fullname-error" class="error-message" style="color: red;"></p>
                                        <input type="text" class="form-control" id="register-fullname" name="fullname" required>
                                    </div>
                                
                                    <div class="form-group">
                                        <label for="email-2">Your email address *</label>
                                        <p id="email-error" class="error-message" style="color: red;"></p>
                                        <input type="email" class="form-control" id="register-email-2" name="email" required>
                                    </div>
                                
                                    <div class="form-group">
                                        <label for="phone">Phone Number *</label>
                                        <p id="phone-error" class="error-message" style="color: red;"></p>
                                        <div class="input-group">
                                            <input type="tel" class="form-control" id="register-phone" name="phone" required>
                                        </div>
                                    </div>
                                
                                    <div class="form-group">
                                        <label for="password-2">Password *</label>
                                        <p id="password-error" class="error-message" style="color: red;"></p>
                                        <input type="password" class="form-control" id="register-password-2" name="password" required>
                                    </div>
                                
                                    <!-- New Confirm Password field -->
                                    <div class="form-group">
                                        <label for="confirm-password">Confirm Password *</label>
                                        <p id="confirm-password-error" class="error-message" style="color: red;"></p>
                                        <input type="password" class="form-control" id="confirm-password" name="confirmPassword" required
                                            onblur="checkPasswordMatch()">
                                    </div>
                                
                                    <div class="form-footer">
                                        <button type="button" class="btn btn-outline-primary-2" onclick="submitForm()">
                                            <span>SIGN UP</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>
                                    </div>
                                </form>
                                </div>




                            </div>
                        </div><!-- End .tab-content -->
                    </div><!-- End .form-tab -->
                </div><!-- End .form-box -->
            </div><!-- End .container -->
    </div><!-- End .login-page section-bg -->
    </main><!-- End .main -->

    <footer class="footer">
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="widget widget-about">
                            <img src="assets/images/logo.png" class="footer-logo" alt="Footer Logo" width="105"
                                height="25">
                            <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate
                                magna eros eu erat. </p>

                            <div class="social-icons">
                                <a href="#" class="social-icon" target="_blank" title="Facebook"><i
                                        class="icon-facebook-f"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Twitter"><i
                                        class="icon-twitter"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Instagram"><i
                                        class="icon-instagram"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Youtube"><i
                                        class="icon-youtube"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Pinterest"><i
                                        class="icon-pinterest"></i></a>
                            </div><!-- End .soial-icons -->
                        </div><!-- End .widget about-widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="about.html">About Molla</a></li>
                                <li><a href="#">How to shop on Molla</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="contact.html">Contact us</a></li>
                                <li><a href="login.html">Log in</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="#">Payment Methods</a></li>
                                <li><a href="#">Money-back guarantee!</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">Terms and conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="#">Sign In</a></li>
                                <li><a href="cart.html">View Cart</a></li>
                                <li><a href="#">My Wishlist</a></li>
                                <li><a href="#">Track My Order</a></li>
                                <li><a href="#">Help</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .footer-middle -->

        <div class="footer-bottom">
            <div class="container">
                <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p>
                <!-- End .footer-copyright -->
                <figure class="footer-payments">
                    <img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
                </figure><!-- End .footer-payments -->
            </div><!-- End .container -->
        </div><!-- End .footer-bottom -->
    </footer><!-- End .footer -->


    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->

    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>

    <script>
       
        window.onload = function () {
            window.scroll(0, window.innerHeight / 4.5);  
        };
    </script>
   
    <script>

    function checkPasswordMatch() {
        const password = document.getElementById('register-password-2').value;
        const confirmPassword = document.getElementById('confirm-password').value;
        const confirmPasswordError = document.getElementById('confirm-password-error');

        if (password !== confirmPassword) {
            confirmPasswordError.textContent = 'Passwords do not match';
            return false
        } else {
            confirmPasswordError.textContent = '';
            return true
        }
    }


        function getElementValue(id) {
            const element = document.getElementById(id);
            return element.value;
        }

        function validateInput(inputId, pattern, errorId, errorMessage) {
            const inputValue = getElementValue(inputId);
            const errorElement = document.getElementById(errorId);

            if (inputValue.trim() === '') {
                errorElement.innerText = errorMessage;
                return false;
            } else if (pattern.test(inputValue)) {
                errorElement.innerText = '';
                return true;
            } else {
                errorElement.innerText = 'Please enter a valid ' + errorMessage.toLowerCase() + '.';
                return false;
            }
        }

        function validateName() {
            return validateInput('register-fullname', /^[A-Za-z]+(\s[A-Za-z]+)*$/, 'fullname-error', 'Name');
        }

        function validateEmail() {
            return validateInput('register-email-2', /^[^\s@]+@[^\s@]+\.[^\s@]+$/, 'email-error', 'Email address');
        }

        function validatePhone() {
            return validateInput('register-phone', /^\d{10}$/, 'phone-error', '10-digit phone number');
        }

        document.addEventListener('DOMContentLoaded', function () {
            const fullNameInput = document.getElementById('register-fullname');
            const emailInput = document.getElementById('register-email-2');
            const phoneInput = document.getElementById('register-phone');

            fullNameInput.addEventListener('input', validateName);
            emailInput.addEventListener('input', validateEmail);
            phoneInput.addEventListener('input', validatePhone);
        });

        function submitForm() {
            if (validateName() && validateEmail() && validatePhone()&& checkPasswordMatch()) {
                document.getElementById('register').submit();
            } else {
                document.getElementById('main-error').innerText = 'CANNOT SUBMIT';
            }
        }
    </script>


    <script>
        function submitLoginForm() {
            const email = document.getElementById('singin-email-2').value;
            const password = document.getElementById('singin-password-2').value;

            fetch("/login", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ email, password }),
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Network response was not ok");
                    }
                    return response.json();
                })
                .then(data => {
                    const loginErrorElement = document.getElementById('login-error');

                    if (data.errorMessage) {

                        console.error(data.errorMessage);
                        loginErrorElement.innerText = data.errorMessage;
                    } else {

                        window.location.href = "/home";
                    }
                })
                .catch(error => {
                    console.error("There was a problem with the fetch operation:", error);
                });
        }

    </script>




</body>



</html>